In [10]:
import numpy as np
import pandas as pd
frame = pd.DataFrame(np.random.rand(4,4),index=list("abcd"),columns=list("ABCD"))
frame

          A         B         C         D
a  0.824207  0.570867  0.841977  0.719372
b  0.367971  0.222442  0.263984  0.038670
c  0.215971  0.774702  0.455484  0.793489
d  0.670039  0.348653  0.130389  0.537469

In [11]:
frame.describe()

              A         B         C         D
count  4.000000  4.000000  4.000000  4.000000
mean   0.519547  0.479166  0.422959  0.522250
std    0.277247  0.244057  0.309572  0.339858
min    0.215971  0.222442  0.130389  0.038670
25%    0.329971  0.317100  0.230586  0.412769
50%    0.519005  0.459760  0.359734  0.628421
75%    0.708581  0.621825  0.552107  0.737902
max    0.824207  0.774702  0.841977  0.793489

In [12]:
frame.loc['a','A']

0.8242065116326165

In [13]:
frame.loc['a':'b',:]

          A         B         C         D
a  0.824207  0.570867  0.841977  0.719372
b  0.367971  0.222442  0.263984  0.038670

In [15]:
frame.loc[:,'A':'B']

          A         B
a  0.824207  0.570867
b  0.367971  0.222442
c  0.215971  0.774702
d  0.670039  0.348653

In [16]:
print(frame.loc[['a','c'],:])
print(frame.loc[:,['A','C']])
print(frame.loc[['a','d'],['A','D']])

          A         B         C         D
a  0.824207  0.570867  0.841977  0.719372
c  0.215971  0.774702  0.455484  0.793489
          A         C
a  0.824207  0.841977
b  0.367971  0.263984
c  0.215971  0.455484
d  0.670039  0.130389
          A         D
a  0.824207  0.719372
d  0.670039  0.537469

In [17]:
frame.iloc[0,0]

0.8242065116326165

In [18]:
frame.iloc[0:2,:]

          A         B         C         D
a  0.824207  0.570867  0.841977  0.719372
b  0.367971  0.222442  0.263984  0.038670

In [20]:
frame.iloc[0:2,0:2]

          A         B
a  0.824207  0.570867
b  0.367971  0.222442

In [22]:
print(frame.iloc[[0,2],:])
print(frame.iloc[:,[0,2]])
print(frame.iloc[[0,3],[0,3]])

          A         B         C         D
a  0.824207  0.570867  0.841977  0.719372
c  0.215971  0.774702  0.455484  0.793489
          A         C
a  0.824207  0.841977
b  0.367971  0.263984
c  0.215971  0.455484
d  0.670039  0.130389
          A         D
a  0.824207  0.719372
d  0.670039  0.537469